$desaturated-blue: #6f76c8;
$pale-blue: #bdc1ff;
$white: #ffffff;

$work: #ff8c66;
$play: #56c2e6;
$Light-red: #ff5c7c;
$study: #4acf81;
$exercise: #7536d3;
$self-care: #f2c85c;

$bg-body: #0f1424;
$bg-card: #1c1f4a;
$bg-profile: #5847eb;

$radius: 1.5rem;